.crd-hh{
    height: 70vh;
}

.crd-h{
    height: 70vh;
}

.image_xl{
    width: 100%;
    background-image: url(/project/img/renze.jpg);
    background-size: cover;
    background-position: center;
}

.image_1{
    width: 100%;
    background-image: url(/project/酒/1.jpg);
    background-size: cover;
    background-position: center;
}

.image_2{
    width: 100%;
    background-image: url(/project/酒/2.jpg);
    background-size: cover;
    background-position: center;
}

.image_3{
    width: 100%;
    background-image: url(/project/酒/3.jpg);
    background-size: cover;
    background-position: center;
}

.image_4{
    width: 100%;
    background-image: url(/project/酒/4.jpg);
    background-size: cover;
    background-position: center;
}

.zoom{
    transition: all 1s;
}

.zoom:hover {
    transform: scale(1.01);
}

@media screen and (max-width: 500px){

    .crd-hh{
        height: 150px;
    }

    .crd-h{
        height: 30vh;
    }
}