.crd-h{
    height: 200px;
}

.crd-hh{
    height: 600px;
}

.hide{
    display: none;
}

.image_xl{
    width: 100%;
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-position: center;
}

.image_1{
    width: 100%;
    background-image: url(../img/2-2.jpg);
    background-size: cover;
    background-position: center;
}

.image_2{
    width: 100%;
    background-image: url(../img/renze.jpg);
    background-size: cover;
    background-position: center;
}

.image_3{
    width: 100%;
    background-image: url(../img/4.jpg);
    background-size: cover;
    background-position: center;
}


.zoom{
    transition: all 1s;
}

.zoom:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 500px){

    .big{
        display: block;
    }

    .crd-h{
        height: 150px;
    }

    .crd-hh{
        height: 150px;
    }

    .image_xl{
        width: 100%;
        background-image: url(../img/2-3.jpg);
        background-size: cover;
        background-position: center;
    }
}