.crd-hh{
    height: 70vh;
}

.crd-h{
    height: 70vh;
}

.image_xl{
    width: 100%;
    background-image: url(/project/自動鎖I/img/1.jpg);
    background-size: cover;
    background-position: center;
}

.image_1{
    width: 100%;
    background-image: url(/project/自動鎖I/img/2.png);
    background-size: cover;
    background-position: center;
}

.image_2{
    width: 100%;
    background-image: url(/project/自動鎖I/img/3.png);
    background-size: cover;
    background-position: center;
}

.image_3{
    width: 100%;
    background-image: url(/project/自動鎖I/img/4.png);
    background-size: cover;
    background-position: center;
}

.image_4{
    width: 100%;
    background-image: url(/project/自動鎖I/img/5.png);
    background-size: cover;
    background-position: center;
}

.image_5{
    width: 100%;
    background-image: url(/project/自動鎖I/img/6.png);
    background-size: cover;
    background-position: center;
}

.image_6{
    width: 100%;
    background-image: url(/project/自動鎖I/img/7.jpg);
    background-size: cover;
    background-position: center;
}

.zoom{
    transition: all 1s;
}

.zoom:hover {
    transform: scale(1.01);
}

@media screen and (max-width: 500px){

    .crd-hh{
        height: 150px;
    }

    .crd-h{
        height: 30vh;
    }
}