.crd-h{
    height: 200px;
}

.image_xl{
    width: 100%;
    background-image: url(../chrome/renze.jpg);
    background-size: cover;
    background-position: center ;
}

.image_1{
    width: 100%;
    background-image: url(../城市意象/main.jpeg);
    background-size: cover;
    background-position: center ;
}

.image_2{
    width: 100%;
    background-image: url(../微小電子/micro_e.jpeg);
    background-size: cover;
    background-position: center;
}

.image_3{
    width: 100%;
    background-image: url(../停損點/main.jpeg);
    background-size: cover;
    background-position: center left;
}

.image_4{
    width: 100%;
    background-image: url(../chrome/renze.jpg);
    background-size: cover;
    background-position: center center;
}

.image_5{
    width: 100%;
    background-image: url(https://images.prismic.io/teenageengineering/db9790c6-9a8a-4163-9584-8bcb3b993e69_1x1-PO33-KO-side.png?auto=compress,format&w=2048&h=1);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center center;
}

.zoom{
    transition: all 1s;
}

.zoom:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 500px){

    .crd-h{
        height: 150px;
    }
}